.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: var(--black);
    background-color: var(--black-shadow); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--modal-bg);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--font-light);
    width: 75%; 
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--font-base);
    text-decoration: none;
    cursor: pointer;
  }

  .inputContainer{
      display: flex;
      flex-direction: column;
      width: 500px;

      input{
          border: none;
      }
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--cell-light);
    outline: 0;
    font-size: 15px;
    color: var(--orange-base);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 16px;
      cursor: text;
      top: 20px;
    }
  }

  .buttonContainer{
    min-width: 900px;
    height: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 15px;
  
    button {
      width: 100px;
      height: 45px;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: var(--text-color);
      background-color: var(--orange-base);
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px var(--black-shadow);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;

      &:disabled{
        background-color: var(--cell-light);
      }
  
      &:not(.disable):hover{
          background-color: var(--orange-base);
          box-shadow: 0px 1px 2px var(--orange-base);
          color: var(--primary-color);
          transform: translateY(-7px);
        }
    }
  }
  
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--cell-light);
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--orange-base);
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--orange-base),var(--orange-light));
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }